
html {
    background-color: #bab9b5;
}

body {
    font-family: Arial;
}

.clearfix {
    *zoom: 1;
}
.clearfix:before,
.clearfix:after {
    content: "";
    clear: both;
    display: block;
    line-height: 0;
}

#logo {
    float: left;
    margin: 10px;
}

[data-role="header"] p {
    font-size: 150%;
}

.plusSign {
    float: right;
    margin-top: -55px;
    margin-right: 10px;
    cursor: pointer;
}

.minusSign {
    float: right;
    margin-top: -45px;
    margin-right: 100px;
    cursor: pointer;
    text-align: center;
}

[data-role="footer"] {
    text-align: center;
}

.checkboxListItem {
    padding: 2px 15px;
}

#userListItems li{
    padding: 0px;
    margin-top: 0;
    border-top-width: 0px;
    border-bottom-width: 0px;
}

#userListItems label{
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

/*.ui-checkbox {*/
    /*position: relative;*/
    /*margin-right: 20px;*/
    /*top: 4px;*/
    /*width: 20px;*/
    /*height: 20px;*/
/*}*/
